* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 0.9681372549019608) 31%,
    rgba(0, 212, 255, 1) 100%
  );
  /* background-repeat: no-repeat; */
  background-size: cover;
  /* background-size: 100% 100%; */
}
.head h1 {
  text-align: center;
  /* align-items: center; */
  font-size: 3rem;
}
.head a {
  color: white;
}
.todo-app {
  display: flex;
  flex-direction: column;
  /* justify-content: start; */
  width: 520px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 70px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid #149fff;
}

.todo-button.edit {
  background: rgba(17, 122, 255, 1) 100%;
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.fab{
  color: white;
  transform: translateY(-65px);
  margin-left: 6px;
}
.github{
  width: 0;
  height: 0;
  border-top: 70px solid rgb(0, 0, 0);
  border-right: 70px solid transparent;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: rgba(255, 84, 17, 1);

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.todo-row:nth-child(4n + 1) {
  background: rgba(155, 0, 250, 1);
}

.todo-row:nth-child(4n + 2) {
  background: rgba(250, 0, 135, 1);
}

.todo-row:nth-child(4n + 3) {
  background: rgba(20, 159, 255, 1);
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}

@media screen and (max-width: 540px) {
  .todo-app {
    width: 95%;
    margin: 50px auto;
  }
  .todo-input {
    width: 95%;
  }
  .todo-button{
    border-radius: 15px;
    margin-top: 5px;
  }
}
